* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: grey;
}
/* Navbar*/
.navbar {
  background-color: rgb(24, 21, 21);
  display: flex;
  justify-content: center;
}

.navbar .navbar-nav {
  font-family: "Open Sans";
  color: rgb(144, 13, 13);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 25px 65px 25px 100px;
  text-decoration: none;
}

.navbar .navbar-nav a {
  display: inline-block;
  font-size: 18px;
  padding: 2px 50px;
  color: white;
  list-style-type: none;
}

.navbar .navbar-nav a:hover {
  color: blue;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 5px;
  border-bottom: 2px solid red;
  transform: scale(0);
  transition: 0.2s linear;
}

.content {
  padding: 10px;
}
.content h2 {
  color: white;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.content .row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.content .row .card {
  text-align: center;
  padding-bottom: 16px;
}

.content .row .card img {
  width: 30%;
}
